* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

.container {
    height: 600px;
    width: 400px;
    padding: 20px;
    background: rgba(80, 55, 121, 0.493);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    
    animation: changeColor 2s infinite alternate;
}
@keyframes changeColor {
    0%{
        box-shadow:0px 0px 20px 2px rgb(58, 197, 58);
    }
    50%{
        box-shadow:0px 0px 20px 2px rgb(45, 45, 179);
    }
    100%{
        box-shadow: 0px 0px 20px 2px rgb(187, 56, 56);
    }
}
h2{
    padding: 20px 0;
    color: rgb(5, 234, 250);
}

.input-area {
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 8px;
}

.todo-tasks {
    margin-top: 10px;
    color: rgb(253, 251, 251);
    font-weight: bold;
    padding: 5px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    scrollbar-color: black;
}

.active-color {
    background-color:transparent;
}

.text-input,
.date-input,
.time-input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(0, 89, 161);
    color: rgb(252, 251, 251);
    font-weight: bold;
}

.text-input::placeholder {
    color: rgb(252, 250, 250);
    font-weight: bold;
}

.add-todo {
    padding: 12px 0;
    border-radius: 10px;
    border: none;
    background-color: rgb(44, 164, 245);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.item {
    display: flex;
    border-radius: 10px;
    background-color: rgba(113, 252, 210, 0.836);
    color: black;
    gap: 4px;
    flex-direction: column;
    justify-content: center;
    padding: 50px 10px;
    width: 345px;
    height: 85px;
}
.item:nth-child(even){
    background-color: rgb(74, 127, 196);
}

.delete-todo {
    background-color: rgb(185, 30, 3);
    text-align: center;
    color: white;
    width: 80px;
    padding: 8px 0;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.popup {
    width: 300px;
    height: 50px;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: -80px;
    display: none;
    animation: popup 0.3s ease forwards;
    position:absolute;
}

.active-pop {
    display: flex;
    top: 30px;
    justify-content: center;
}

.pop-msg {
    padding: 10px 50px;
    border-radius: 10px;
}

@keyframes popup {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(40px);
    }
}